.counterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    height: 30px;
}

.counter {
    font-weight: 600;
}

.btnCounter {
    margin: 0;
    padding: 0 2.5rem;
    border: 1px solid transparent;
    color: #B9BF04;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0);
}

.btnRemove {
    
    border: 1px solid transparent;
    height: 30px;
    padding: 0.5rem;
    background-color: #F29F05;
    width: 100%;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #B9BF04;
}



