.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    align-items: center;
}

.navItem {
    list-style-type: none;
    color: rgb(254, 142, 44);
}

.logo {
    width: 60px;
}