.cardProduct {
    width: 250px;
    height: 300px;
    background-image: url('./../assets/background.png');
    background-size:  25vw;
    background-repeat: no-repeat;
    color: #3F3CA6;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px #ddd, 0 4px 6px -2px #ddd;
}

.productsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.productPrice {
    font-weight: 600;
}

.productDescription {
    font-size: 14px;
    color: black;
}